/* google font import */

@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Fira+Sans:wght@600&family=Inconsolata:wght@600&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap");

/* * means all the elemnts */

/* general settings */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* We have border-box and content-box */
  scroll-behavior: smooth;
}

/* dark theme web setting */

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #000016;
  --header-navbar-color: #3a6cf4;
  --service-card-color: wheat;
  --moon-color: #000016;
}

.dark-theme {
  --primary-color: #000016;
  --secondary-color: #f0f0f0;
  --header-navbar-color: #f0f0f0;
  --service-card-color: #000016;
  --moon-color: #f0f0f0;
}

/* navigation bar (header section) */

header {
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
}

.logo {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--header-navbar-color);
}

.fa-solid {
  cursor: pointer;
  margin: auto 0;
}

.navigation .fa-bars {
  display: none;
  margin: 0 0 0 32%;
  cursor: pointer;
}

.navigation {
  width: 50%;
  min-width: 35rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
}

.navigation a {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--header-navbar-color);
  font-weight: bold;
  font-size: 1.1em;
  translate: 0.7s ease;
  position: relative;
}

.navigation a:hover {
  color: #601cfc;
}

#icon {
  color: var(--moon-color);
}

/* under class to make line under */

.under {
  position: relative;
  cursor: pointer;
}

.under::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: 0.25s ease;
}

.under:hover::after {
  transform: scaleX(1);
}

/* *************************** */

/* current class for line under currrent page */

.current-section {
  background-color: aqua;
  background-size: 100% 3px;
  height: 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* *************************** */

/* main section */

section {
  padding: 10% 13%;
}

.main {
  width: 100%;
  padding-right: 2%;
}

.both-main-img {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.main-content {
  padding-left: 3.5%;
  line-height: 350%;
  width: 50%;
  min-width: 32rem;
}

.main-content-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pro-img {
  color: #000016;
  margin-top: 4rem;
  width: 40%;
  min-width: 22rem;
}

.pro-img img {
  width: 100%;
  border: 10px solid #3a6cf4;
  border-radius: 300px;
  transition: 0.7s ease;
  min-width: 22rem;
}

.pro-img img:hover {
  transform: scale(1.1);
  border-color: wheat;
}

.main-content span {
  font-size: clamp(3rem, 8vw, 6rem);
  color: #3a6cf4;
  font-weight: bold;
  display: inline-block;
  margin-top: 4%;
  cursor: pointer;
}

.main-content span:hover {
  color: #601cfc;
  transition: color 1s;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(bakground.png) no-repeat;
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  font-size: clamp(1rem, 6vw, 1.5rem);
  color: white;
  font-weight: bold;
}

.main h3 {
  font-size: clamp(1rem, 6vw, 1.5rem);
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.main-button {
  text-decoration: none;
  color: white;
  padding: 0.6rem 2rem;
  background-color: #3a6cf4;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.7s ease;
  margin-bottom: 4%;
  width: 14rem;
  text-align: center;
  cursor: pointer;
}

.main-button a {
  text-decoration: none;
  color: white;
}

#hire-button {
  margin-top: 3%;
}

.main-button:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
  color: wheat;
}

.social-icons a {
  display: inline-block;
  margin-top: 2%;
  font-size: 2rem;
  padding: 0 2%;
  color: white;
  transition: 0.7s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
  color: #3a6cf4;
}

.social-icons .youtube-button:hover {
  color: #ff0000;
  transform: scale(1.1);
}

/* serveces page style */

.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: clamp(1.5rem, 6vw, 2.2rem);
  font-weight: bold;
  margin-bottom: 3%;
  text-align: center;
}

#services {
  padding: 6% 8%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: var(--primary-color);
  width: 19.25rem;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
  border-radius: 10px;
  padding: 2rem;
  margin: 2%;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
  background-color: var(--service-card-color);
}

.icon {
  color: #3a6cf4;
  font-size: clamp(4rem, 8vw, 8rem);
  text-align: center;
}

.info {
  text-align: center;
  width: 100%;
}

.info h3 {
  color: #3a6cf4;
  font-size: clamp(0.8rem, 6vw, 1.4rem);
  margin: 8% 0;
  font-weight: bold;
  width: 100%;
}

.info p {
  font-size: clamp(0.6rem, 5vw, 1rem);
  width: 100%;
  color: var(--secondary-color);
}

/* project page style */

.projects {
  background-color: var(--secondary-color);
  padding: 6% 8%;
}

.projects .content {
  margin-top: 4rem;
}

.project-card {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  min-height: 14rem;
  width: 18rem;
  overflow: hidden;
  border-radius: 10px;
  margin: 2%;
  transition: 0.7s ease;
  min-width: 14rem;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card-content {
  width: 100%;
  min-width: 14rem;
}

.project-picture {
  width: 100%;
  max-height: 10rem;
}

.project-picture img {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}

.project-picture img:hover {
  opacity: 0.9;
}

.project-info {
  padding: 1rem;
}

.projct-category {
  margin-bottom: 4%;
  font-size: clamp(0.8rem, 4vw, 1.2rem);
  color: var(--secondary-color);
}

.project-title {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.8rem, 5vw, 1rem);
  text-align: center;
}

.project-title span {
  color: var(--secondary-color);
}

.more-details {
  text-decoration: none;
  color: #3a6cf4;
  transition: 0.7s ease;
}

.more-details:hover {
  color: #601cfc;
}

/* About section style */

.about {
  width: 100%;
}

.about .content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about .about-card {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  overflow: hidden;
  min-height: 16rem;
  width: 100%;
  border-radius: 10px;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
  box-shadow: 0 10px 25px rgba(1, 1, 1, 15%);
  transition: 0.7s ease;
  font-size: 1.4rem;
}

.about .about-card:hover {
  transform: scale(1.1);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.my-img {
  width: 30%;
  min-width: 15rem;
  margin-right: 3%;
}

.my-img img {
  width: 100%;
  overflow: hidden;
  border-radius: 200px;
}

.about .about-card .bio {
  width: 60%;
  margin: auto 0;
  min-width: 20rem;
}

.about .about-card .bio p {
  line-height: 180%;
  font-size: clamp(0.4rem, 6vw, 1.2rem);
}

/* hobbies section styel */

.hobbies {
  background-color: var(--secondary-color);
}

.hobbies .content .hobby-card .hobby-header {
  color: #3a6cf4;
  display: flex;
  justify-content: center;
  margin: 3% 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.hobby-card {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 3%;
  transition: 0.7s ease;
  margin: 3% 0;
  width: 80rem;
  text-align-last: center;
}

.hobby-card:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  transform: scale(1.1);
}

.hobbies .content .hobby-card .icon {
  font-size: 5rem;
}

.hobbies .content .hobby-card .hobby-text {
  color: var(--primary-color);
  font-size: clamp(0.4rem, 6vw, 1.2rem);
}

/* contact section style */

.contact-section {
  background-color: var(--primary-color);
  width: 100%;
  padding: 3% 6%;
}

.contact-section .contact {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.content .contact-card {
  width: 28rem;
  height: fit-content;
  border: 3px solid var(--secondary-color);
  margin: 3%;
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.7s ease;
  cursor: pointer;
}

.contact-card:hover {
  transform: scale(1.1);
}

.contact-card .icon {
  width: 100%;
}

.contact-card .info {
  width: 100%;
}

.contact-type {
  color: var(--secondary-color);
  font-size: 1.2em;
}

.info a {
  text-decoration: none;
  width: 100%;
  font-size: 150%;
}

.contact-card .info h3 {
  color: var(--secondary-color);
  transition: 0.7s ease;
  cursor: pointer;
}

.contact-card .info h3:hover {
  color: #3a6cf4;
}

/* footer section style */

.footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  color: var(--primary-color);
  width: 100%;
}

.social-icons-footer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-icons-footer a {
  font-size: 2rem;

  color: var(--primary-color);
  transition: 0.7s ease;
}

.social-icons-footer a:hover {
  transform: scale(1.1);
  color: #3a6cf4;
}

.social-icons-footer .youtube-button:hover {
  color: #ff0000;
  transform: scale(1.1);
}

.footer-title {
  padding-top: 15px;
  font-weight: bold;
  width: 50%;
}

.footer span {
  color: #3a6cf4;
}

/* mobile nav bar  */

.mobile-nav {
  padding: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 22, 22);
  color: white;
  border: 2px solid white;
  z-index: 999;
}

.mobile-nav a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  margin: 5%;
  transition: 0.7s ease;
}

.mobile-nav a:hover {
  transform: scale(1.1);
  color: aqua;
}

@media (max-width: 1025px) {
  .main {
    padding-left: 12%;
  }

  .both-main-img {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    padding-left: 5%;
  }

  .pro-img {
    width: 100%;
    display: flex;
    min-width: 10rem;
  }

  .pro-img img {
    width: 65%;
    margin: 0 auto;
    min-width: 10rem;
  }

  .about .about-card {
    flex-direction: column;
  }

  .about-card .my-img {
    width: 100%;
    display: flex;
    margin-bottom: 4%;
    min-width: 10rem;
  }

  .about-card .my-img img {
    width: 50%;
    margin: 0 auto;
  }

  .about .about-card .bio {
    width: 100%;
    min-width: 10rem;
  }
}

@media (max-width: 860px) {
  .logo {
    font-size: 1rem;
  }

  .navigation a {
    display: none;
  }

  .navigation .fa-bars {
    display: block;
  }

  .navigation {
    width: fit-content;
    min-width: 4rem;
  }

  .main-content {
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
  }

  .main {
    padding-top: 4rem;
    padding-left: 2%;
  }

  .main-content-texts {
    text-align: center;
    align-items: center;
    min-width: 5rem;
    width: 100%;
  }

  .main h2 {
    font-size: 1rem;
  }

  .main h3 {
    font-size: 1.2rem;
  }

  .projects {
    padding: 6% 4%;
  }

  #email {
    font-size: 1rem;
  }

  .card {
    margin: 2rem 2%;
  }

  .project-card {
    margin: 2rem 2%;
  }

  .project-info {
    padding: 3%;
  }

  .about .about-card {
    padding: 5%;
  }

  .bio {
    text-align: center;
  }

  .bio p {
    font-size: 1.2rem;
    text-align: center;
  }

  .hobby-text {
    text-align: center;
  }

  .social-icons {
    width: 100%;
  }

  .social-icons a {
    font-size: 1.2rem;
  }

  .footer {
    width: 100%;
    padding: 1%;
  }

  .social-icons-footer a {
    font-size: 1.2rem;
  }

  footer {
    flex-direction: column;
  }

  .footer-title {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  .social-icons-footer {
    width: 100%;
    margin-bottom: 5%;
  }
}
